// ---------------------------
//
// LAYOUT = Structure + Flexbox
//
// ---------------------------

// VARIABLES
// ---------------------------

@left-menu-width:   240px;
@column-width:      320px;

// STRUCTURE
// ---------------------------

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  overflow-x: scroll;
  overflow-y: hidden;
}

column-stream {
  margin-left: 5px;
  margin-top: 5px;
}

.left-menu {
  margin: 5px;
}

.tweet-stream {
  overflow-y: scroll;
  bottom: 0;
}

// FLEXBOX
// --------------------

body {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
}

.left-menu {
  width: @left-menu-width;
  min-width: @left-menu-width;
}

.content {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
}

column-stream {
  -webkit-flex: none;
          flex: none;
  width: @column-width;
}

/*
If you find any browser-compatibility issues with using Flexbox,
try using the code. You might have to modify it a little bit.
*/

// Layout CSS without using Flex
// -----------------------------

// .left-menu {
//   display: inline-block;
//   vertical-align: top;
//   width: 200px;
//   height: 100%;
//   z-index: 1;
// }

// .content {
//   display: inline-block;
//   vertical-align: top;
//   width: 600px;
//   height: 100%;
//   overflow-x: scroll;
//   overflow-y: hidden;
//   padding-left: 20px;
// }

// .column {
//   display: inline-block;
//   width: 400px;
//   min-height: 95%;
//   max-height: 95%;
//   overflow-y: hidden;
//   overflow-x: hidden;
//   margin-right: 10px;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   position: relative;
// }

// .tweet-header {
//   height:50px;
// }

// .tweet-stream {
//   position: relative;
//   min-height: 95%;
//   overflow-y: scroll;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box; /* Firefox */
//   position: absolute;
// }

// .tweet {

// }

// .content:after {
//     content: "";
//     display: table;
//     clear: both;
// }
