body {
  -webkit-font-smoothing: antialiased !important;
  background-color: #edf0f2;
}
p {
  color: #292f33;
}
hr {
  border-color: #e1e8ed;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
#TagUserButton {
  margin-top: 3px;
}
.left-menu {
  border: 1px solid #e1e8ed;
  border-radius: 5px 5px;
  background-color: #ffffff;
}
.left-menu h4 {
  padding: 4px 15px 12px 13px;
  font-weight: 500;
  letter-spacing: .04em;
  color: #8899a6;
  border-bottom: 1px solid #e1e8ed;
}
.left-menu .fix-banner {
  height: 147px;
}
.left-menu .pre-scrollable {
  max-height: 600px;
}
.left-menu .form-group {
  padding: 10px 15px;
  border-bottom: 1px solid #e1e8ed;
  margin-bottom: 0px;
}
.left-menu .form-control {
  display: inline;
  width: 65%;
}
.left-menu li > a.modify-tag {
  display: none;
}
.left-menu form.edit-tag {
  display: inline;
  width: 100px;
}
.left-menu form.edit-tag .form-control {
  width: 50%;
}
.left-menu li:hover > a {
  display: inline-block;
}
.left-menu li:hover > a.modify-tag {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 5px;
  padding-left: 5px;
}
.left-menu li:hover span.badge {
  display: none;
}
.left-menu li:hover > a.right-23 {
  right: 23px;
}
.left-menu li:hover > a.right-80 {
  right: 80px;
}
.left-menu a:hover {
  text-decoration: none;
}
.left-menu .right {
  position: absolute;
  right: 5px;
  top: 11px;
}
.modal-dialog {
  width: 300px;
}
.right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav-stacked > li + li {
  margin-top: 0;
  padding-top: 0;
}
.nav-pills li a,
.nav-pills li a:hover {
  border-radius: 0;
  margin-top: 0;
  color: #000000;
  border-bottom: 1px solid #e1e8ed;
}
.nav-pills li a i,
.nav-pills li a:hover i {
  margin-top: 3px;
}
.modal-body .nav > li > a {
  display: inline-block;
}
.modal-body .form-control {
  display: inline-block;
  width: 70%;
}
.modal-body .form-group {
  margin-top: 10px;
}
.nav-pills li a:hover {
  background-color: #f5f8fa;
}
.input-group {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #e1e8ed;
}
.input-group .fa-search {
  margin-left: 2px;
  padding-bottom: 2px;
  color: #8899a6;
}
.input-group-addon {
  border: none;
  border-radius: 0px;
  background: none;
}
.left-menu-title {
  padding: 5px 0 5px 0px;
  margin: 0 0 0 0;
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  font-weight: 700;
  color: #292f33;
  background-color: #f5f8fa;
  text-align: center;
}
.left-menu-title .fa-tag,
.left-menu-title .fa-list,
.left-menu-title .fa-user {
  padding-right: 5px;
}
.left-menu-title .fa-plus {
  padding: 3px 15px 0 0;
}
.left-menu-title .fa-plus:hover {
  text-decoration: none;
}
#user-info {
  border-bottom: 1px solid #e1e8ed;
  padding: 5px 0 5px 15px;
}
#user-info p {
  font-weight: 500;
  color: #8899a6;
}
#user-info .logout {
  margin-right: 12px;
  cursor: pointer;
}
.add-column-area {
  padding: 10px 10px 10px 10px;
}
.btn-huge {
  height: 40px;
}
.btn-half {
  width: 146px;
  padding-right: 0;
  padding-left: 0;
  margin-top: 5px;
}
.btn-half + .btn-half {
  margin-left: 2px;
}
.fa-search,
.fa-trash-o {
  margin-right: 5px;
}
.no-bullet {
  list-style: none;
  list-style-type: none;
}
.no-display {
  display: none;
}
.queued {
  color: #ffffff;
  position: fixed;
  top: 55px;
  margin-left: 100px;
  background-color: #1f98c7;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 30px;
}
.tweet-header {
  border: 1px solid #e1e8ed;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom: 0;
  padding: 8px 5px 13px 5px;
  background-color: #ffffff;
}
.tweet-header .fa-search {
  margin-top: 1px;
  margin-right: 10px;
}
.tweet-header h4 {
  margin: 5px 0 0 5px;
  color: #8899a6;
}
.tweet-header .fa-caret-down {
  margin: 2px 5px 0 0;
}
.newColumn {
  border: 3px solid lightblue;
}
.pausedColumn {
  border: 3px solid lightgray;
}
.dropdown-menu {
  width: 320px;
  margin: 13px 0 0 -11px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.175);
  border: 1px solid #e1e8ed;
}
.search-form {
  padding: 6px 10px;
}
.tweet-stream {
  border: 1px solid #e1e8ed;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  background-color: #ffffff;
}
.media {
  padding: 10px;
  border-bottom: 1px solid #e1e8ed;
  margin-top: 0;
  background-color: #ffffff;
}
.media p {
  margin-bottom: 5px;
}
.media .media-body .fullname a {
  color: #000000;
}
.media:last-child {
  border-bottom: 0;
}
.media:hover {
  background-color: #f5f8fa;
  cursor: pointer;
}
.username,
.timestamp {
  color: #8899a6;
  font-weight: 500;
}
.help-block {
  margin: 0 0 0 58px;
}
.help-block .tweet-info {
  color: #ccd6dd;
}
.help-block .tweet-info small:nth-of-type(2) {
  margin-left: 10px;
}
.help-block .btn {
  border: 1px solid #ccd6dd;
  margin-left: 5px;
  color: #8899a6;
  font-weight: 500;
}
.help-block .btn .fa-caret-down {
  margin: 0 0 2px 4px;
}
.help-block .btn:hover {
  color: #f5f8fa;
  background-color: #55acee;
}
#TagTweetButton,
#TagUserButton {
  margin-left: 0;
}
.tweet-tags .fa-circle,
.user-tags .fa-stop {
  margin-left: 3px;
}
.dropdown .dropdown-menu {
  padding: 5px 0;
}
.dropdown .dropdown-menu input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
  height: 13px;
  float: left;
  margin-top: 3px;
}
.dropdown .dropdown-menu i {
  margin-left: 8px;
}
.dropdown .dropdown-menu label {
  font-weight: 400;
  margin-bottom: 0;
  padding: 5px 10px 5px 10px;
}
.dropdown .dropdown-menu label:hover {
  background-color: #eee;
  color: #000000;
}
.tag-list .btn,
.user-list .btn {
  padding: 6px 10px;
}
