/* - Typography */

html, html a {
  -webkit-font-smoothing: antialiased !important;
}  

/* - Layout */

html, body { 
  height:100%; 
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}  

.container {
  margin: 0; 
  padding: 0;
  position: relative;
  width: 100%;
}

/* - Sidebar */

#sidebar {
  padding: 0;
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .15);
  box-shadow: 0 0 10px rgba(0, 1, 1, .05);
  border-right: 1px solid #dcdddc;
  min-width: 240px;
}

#logo {
  font-weight: 600;
  margin: 0;
  padding: 28px 15px 29px;
  color: #444;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2em;
  letter-spacing: .06em;
}

#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#sidebar ul li a {
  border-radius: 0px;
  color: #444;
}

.list-group {
  margin-bottom: 0;
  overflow: hidden;
/*    position: relative;*/
}

.list-group a {
  text-decoration: none;
}

#tag-list {
  overflow-y: auto;
  height: 568px;
}

.list-group-item {
  height: auto;
}

a.list-group-item {
  border-right-style: none;
}

a.list-group-item:hover {
    background-color: #eee;
}

a.list-group-item:first-child, a.list-group-item:last-child {
  border-radius: 0px;
}

a i:hover {
  text-decoration: none;
}

a#tag-title {
  border-top-style: none;
}

.nav-pills > li {
/*  border-bottom: 1px solid #eee;*/
  background-color: #fff;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
}

.active {
  border-radius: 0px;
}

#tag-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-right-style: none;
}

.text-danger {
  color: #fb6b5b;
}

i {
  margin-right: 6px;
}

.badge {
  background: none;
  color: #aaa;
}


/* - Tweet Stream */


/* -- Stream Structure */

.content {
  margin: 0px 0px 0px 240px;	
  padding: 0;
  position: absolute;
  width: 480px;
  top: 0;
}

li.media.tweet {
  padding: 1em;
  margin-top: 0;
  border-style: none;
  border-bottom: 1px solid #eee;
}

.tweet-stream {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-y: scroll; 
  height: 700px;
  border-right: 1px solid #eee;
  margin-top: 76px;
}

/* -- Search Bar */

.tweet-search {
  padding: 15px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  position: fixed;
  background-color: #fff;
  width: inherit;
  z-index: 100;
  top: 0;
}

input[type="search"] {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding-right: 0;
  padding-left: 10px;
}

input[type="search"]:focus, input[type="search"]:hover {
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.input-group-addon {
  border: none;
  border-radius: 0px;
  background: none; 
}

.icon-search, .icon-refresh {
  margin-right: 0;
}

.icon-search:hover, .icon-refresh:hover, a:hover {
  color: #428bca;
} 

.icon-refresh {
  margin-left: 30px;
}

/* -- Stream Content */

.fullname a {
  color: #333;
  font-size: 1.1em;
}

.tweet:hover {
  background-color: #fcfcfc;
}

.tweet-info a:hover {
  text-decoration: none;
}

.tweet-actions a:hover {
  text-decoration: none;
}

li.tweet.tagged {
  border-left: 5px solid #eb6758;
  background-color: #eee;
}

/*.help-block {
  visibility: hidden;
}*/

li.media.tweet.end-result {
  font-style: italic;
  color: #989998;
  padding-top: 30px;
  padding-bottom: 30px;
}

.media-list {
  margin-bottom: 0px;
}

.end-result p {
  margin-bottom: 0px;
}

/* - Demo */

.demo {
  margin: 0px 0px 0px 720px;
  padding: 2px 15px 15px 36px;
  position: absolute;
  width: 720px;
  top: 0;
  position: relative;
  overflow-y: scroll; 
  height: 776px;
  border-right: 1px solid #eee;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}