<!DOCTYPE html>
<html ng-app="twitterCrisis">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Crisis Curation</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery.dropdown.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="css/popover.css" rel="stylesheet">

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.10.0.js"></script>
    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.js"></script>

    <script type="text/javascript" src="js/tweets.js"></script>
    <script type="text/javascript" src="js/userInfo.js"></script>
    <script type="text/javascript" src="js/tags.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
  </head>

  <body ng-controller="Ctrl">
        <div class="left-menu">
        <h4>Crisis Curation</h4>
        <div class="input-group" id="nav-menu">
          <span class="input-group-addon"><a href="#"><i class="fa fa-search text-muted"></i></a></span>
          <form ng-submit="newColumn()">
            <input ng-model="searchTerm" type="search" class="form-control" placeholder="Search" autofocus>
          </form>
        </div>

        <div class="dropdown-relative">
            <p id="tag-title">Tags <a class="fa fa-plus pull-right" id="newTagButton" href="#"></a></p>
        </div>
        <ul class="nav nav-pills nav-stacked dropdown-relative" id="tag-list">
            <li ng-repeat="tag in CURRENT_TAGS"><a href="#"><i class="fa fa-circle text-{{tag.css_class}}"></i>{{tag.tag_name}}<span class="badge pull-right">{{tag.instances}}</span></a></li>
        </ul>
    </div>
    <div class="content">
      <column-stream></column-stream>
      <column-stream></column-stream>
    </div>
  </body>

</html>
