<!DOCTYPE html>
<html ng-app="twitterCrisis">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>{{currentCrisis}}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!--     <link href="css/jquery.dropdown.css" rel="stylesheet"> this breaks dropdown for search refinement menu-->

    <link href="css/popover.css" rel="stylesheet">
    <link href="css/colorpicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.10.0.js"></script>
    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/angular-moment.js"></script>

    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/tweets.js"></script>
    <script type="text/javascript" src="js/userInfo.js"></script>
    <script type="text/javascript" src="js/tags.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/colorpicker.js"></script>
</head>

<body ng-controller="Ctrl">
<div class="left-menu">
    <div class="fix-banner">
        <h4>Hello{{currentCrisis}}</h4>

        <div id="user-info">
            <p>Welcome {{getUsername()}}!<a ng-click="logout()" class="pull-right logout">Logout</a></p>
        </div>

        <div class="add-column-area">
            <form class="add-column">
                <button class="btn btn-primary add-column btn-block btn-huge" ng-click="newColumnSearch()">Add Column
                </button>
            </form>
        </div>
    </div>


    <!-- <div class="add-column-area">
        <form class="add-column">
            <button class="btn btn-primary add-column"
                    ng-click="showColForm = !showColForm; showTagFilter = false; newColumn()">Add Column
            </button>
            <div ng-show="showColForm">
                <ul>
                    <span class="title">Column Filters:</span>
                    <li class="filter">
                        <input type="checkbox" ng-model="search.textFilter"/>
                        <input type="text" placeholder="Text" ng-model="search.text"
                               ng-change="search.textFilter=true"/>
                    </li>
                    <li class="filter">
                        <input type="checkbox" ng-model="search.usersFilter"/>
                        <input type="text" placeholder="@User" ng-model="search.users"
                               ng-change="search.usersFilter=true"/>
                    </li>
                    <li class="filter">
                        <input type="checkbox" ng-click="showTagFilter=!showTagFilter; search.tags={}"
                               ng-model="search.tagsFilter"/>Tag
                        <ul ng-show="showTagFilter">
                            <li ng-repeat="tag in TAGS.tags">
                                <input type="checkbox" ng-model="search.tags[tag._id.$oid]"
                                       ng-click="search.tagsFilter=true"/>
                                <i class="fa fa-circle" style="color:{{tag.color}};"></i>
                                {{tag.tag_name}}
                            </li>
                        </ul>
                    </li>
                    <li class="filter">
                        <input type="checkbox" ng-click="showUserTagFilter=!showUserTagFilter; search.userTags={}"
                               ng-model="search.userTagsFilter"/>User Tag
                        <ul ng-show="showUserTagFilter">
                            <li ng-repeat="tag in USER_TAGS.tags">
                                <input type="checkbox" ng-model="search.userTags[tag._id.$oid]"/>
                                <i class="fa fa-circle" style="color:{{tag.color}};"></i>
                                {{tag.tag_name}}
                            </li>
                        </ul>
                    </li>
                </ul>
                <button class="btn" ng-click="showColForm = !showColForm;">Cancel</button>
            </div>
        </form>
    </div> -->

    <!--Tags-->

    <div class="pre-scrollable" resize-left-column>
        <div class="tag-list">
            <p class="left-menu-title">Tags</p>


            <!--Form for add tags-->
            <form ng-submit="TAGS.saveTag(TAGS.tag.newTagName); TAGS.tag.newTagName = '' " role='form'>
                <div class='form-group'>
                    <i class="fa fa-circle" style="color: {{TAGS.tag.color}};" colorpicker class="span2" type="text"
                       ng-model="TAGS.tag.color"></i>

                    <label class='sr-only' for='tag-name'>Tag Name</label>
                    <input type='text' ng-model="TAGS.tag.newTagName" class='form-control' id='tag-name'
                           placeholder='Enter tag name'>
                    <button type='submit' class='btn btn-default'>Add</button>
                </div>
            </form>

            <div ng-app="editer" ng-controller="inlineEdit">
                <ul class="nav nav-pills nav-stacked dropdown-relative" id="tag-list">
                    <li ng-repeat="tag in TAGS.tags" tag-id="{{tag._id.$oid}}">
                        <a href="#" ng-dblclick="startEditing(item);" ng-hide="item.editing">
                            <i class="fa fa-circle" style="color:{{tag.color}};"></i>
                            {{tag.tag_name}}
                            <span class="badge">{{ tag.num_instances }}</span>
                        </a>

                        <form ng-submit="doneEditing('tag',tag, newTagName)" ng-show="item.editing">
                            <input ng-model="tag.tag_name" ng-blur="doneEditing('tag', tag, newTagName)"
                                   ng-focus="item == editedItem" ng-data="{{editTagPopoverSetup(tag.tag_name)}}"
                                   id="editTagInputBox" type="text"
                                   class="form-control">
                        </form>

                        <a class="modify-tag" href="#" ng-click="createColumn(tag.tag_name)">Search</a>
                        <a class="modify-tag" href="#" ng-click="TAGS.deleteTag(tag)"><i class="fa fa-times"></i></a>
                    </li>
                </ul>
            </div>
        </div>


        <!--User list-->

        <div class="user-list">
            <p class="left-menu-title">User Lists</p>


            <!--Form to add user lists-->
            <form ng-submit="USER_TAGS.saveTag(USER_TAGS.tag.newTagName); USER_TAGS.tag.newTagName = ''" role='form'>
                <div class='form-group'>
                    <i class="fa fa-stop" style="color: {{USER_TAGS.tag.color}};" colorpicker class="span2" type="text"
                       ng-model="USER_TAGS.tag.color"></i>

                    <label class='sr-only' for='tag-name'>User List Name</label>
                    <input type='text' ng-model="USER_TAGS.tag.newTagName" class='form-control' id='tag-name'
                           placeholder='Enter list name'>
                    <button type='submit' class='btn btn-default'>Add</button>
                </div>
            </form>

            <ul class="nav nav-pills nav-stacked dropdown-relative" id="tag-list">
                <li ng-repeat="tag in USER_TAGS.tags" tag-id="{{tag._id.$oid}}">

                    <a href="#">
                        <i class="fa fa-stop" style="color:{{tag.color}};"></i>
                        {{tag.tag_name}}
                        <span class="badge">{{ tag.num_instances }}</span>
                    </a>

                    <a class="modify-tag" href="#" ng-click="createColumn(tag.tag_name)">Search</a>
                    <a class="modify-tag" href="#" ng-click="USER_TAGS.deleteTag(tag)"><i class="fa fa-times"></i></a>
                </li>
            </ul>
        </div>


        <div class="collab">
            <p class="left-menu-title">Collaborators (2)</p>
            <ul class="nav nav-pills nav-stacked" id="collab-list">
                <li><a>[name1] - [status]</a></li>
                <li><a>[name2] - [status]</a></li>
            </ul>
        </div>
    </div>
    <!--end of scrollable div-->
</div>
<!--end of left column-->
<div class="content">
    <column-stream colname="all" col-id=0></column-stream>
</div>
</body>

</html>
