<form ng-submit="saveNewTag(tag.newTagName)" role='form'>
    <div class='form-group'>
        <label class='sr-only' for='tag-name'>Tag Name</label>
        <input type='text' ng-model="tag.newTagName" class='form-control' id='tag-name' placeholder='Enter tag name' autofocus>
    </div>
    <label><i class="fa fa-circle fa-lg" style="color: {{tag.color}};" colorpicker class="span2" type="text" ng-model="tag.color"></i> Click the circle to set color</label>
    <button type='submit' class='btn btn-default'>Add</button>
</form>