<form ng-submit="saveNewTag()" role='form'>
    <div class='form-group'>
        <label class='sr-only' for='tag-name'>Tag Name</label>
        <input type='text' ng-model="tag.newTagName" class='form-control' id='tag-name' placeholder='Enter tag name' autofocus>
    </div>
    <div class='btn-group color-selector' role='toolbar'>
        <label><i class='fa fa-circle fa-lg text-danger'><input ng-model="tag.newTagColor" value="red" type="radio"></i></label>
        <label><i class='fa fa-circle fa-lg text-info'><input ng-model="tag.newTagColor" value="darkblue" type="radio"></i></label>
        <label><i class='fa fa-circle fa-lg text-warning'><input ng-model="tag.newTagColor" value="gold" type="radio"></i></label>
        <label><i class='fa fa-circle fa-lg text-success'><input ng-model="tag.newTagColor" value="green" type="radio"></i></label>
        <label><i class='fa fa-circle fa-lg text-muted'><input ng-model="tag.newTagColor" value="gray" type="radio"></i></label>
        <label><i class='fa fa-circle fa-lg text-primary'><input ng-model="tag.newTagColor" value="blue" type="radio"></i></label>
    </div>
    <button type='submit' class='btn btn-default'>Add</button>
</form>