<div ng-show="tweet.text" class="media">
    <a class=" profile-pic pull-left" href="#">
        <img class="media-object img-circle" ng-src="{{'assets/img/profile-pic.png' || tweet.user_profile_image_url}}" alt="..."> 
    </a>
    <div class="media-body">
        <span class="fullname"><a href="http://twitter.com/{{tweet.fromUser}}"><strong>{{tweet.user_name}}</strong></a></span>
        <span class="username text-muted"><small>@{{tweet.fromUser}}</small></span>
        <span class="timestamp text-muted pull-right"><small>{{tweet.createdAt.$date}}</small></span>
        <p class="tweet-text">
        {{tweet.text}} <a href="http://pic.twitter.com/aYyx6QAfw9">pic.twitter.com/aYyx6QAfw9</a></p>
    </div>
    <div class="help-block">
        <span class="tweet-info text-muted">
            <small>{{tweet.retweet_count || 'Unknown'}}</small> <i class="fa fa-retweet text-muted"></i>
            <small>{{tweet.favorite_count || 'Unknown'}}</small> <i class="fa fa-star"></i>
        </span>
        <div class="dropdown-relative pull-right">
            <a href="#" type="button" class="btn btn-default btn-xs" ng-click="showTags =  !showTags">Tag tweet <i class="fa fa-caret-down"></i></a>
			<div ng-show="showTags">
				<div ng-repeat="tag in CURRENT_TAGS" ng-click="applyTag(tag, tweet); $parent.showTags = !$parent.showTags">
					<label>
						<input type="checkbox"><i class="fa fa-circle text-{{tag.css_class}}"></i> {{tag.tag_name}}
					</label>
				</div>
                
			</div>
        <div>
			<i ng-repeat="tag in tweet.tags" class="fa fa-circle text-{{CURRENT_TAGS[tag].css_class}}"></i>
        </div>
    </div>
</div>
