<div class="modal-header">

    <h3><i class="fa fa-stop" style="color:{{userList.color}};"></i> {{ userList.tag_name }}</h3>
</div>
<div class="modal-body">

    <!--print user in the userlist-->
    <ul class="nav nav-pills nav-stacked dropdown-relative" id="modal-user-list">
        <li ng-repeat="user in users">

            <a href="#">{{ user }}</a>
            <a class="right" href="#" ng-click="deleteUser(user)"><i class="fa fa-times"></i></a>
            <!-- function deleteUser(user) need to be implemented in directives.js-->
        </li>
    </ul>

    <!--add user to the list-->
    <!--addUser() need to be implemented in directives.js-->
    <form ng-submit="addUser(user, userListName.tag_name)" role='form'>
        <div class='form-group' >
            <!--ng-model below need to be change-->
            <input type='text' ng-model="user.name" class='form-control'
                   id='new-user-name'
                   placeholder='Enter user name'>
            <button type='submit' class='btn btn-default'>Add</button>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>